name: deploy-foundryvtt

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  LOCATION: northeurope
  STORAGE_CONFIGURATION: Premium_100GB
  # The type of Azure service to deploy the resources to.
  # ACI = Azure Container Instance
  # AAS = Azure App Service (Web App)
  TYPE: 'ACI'

  # Only required if TYPE is ACI
  CONTAINER_CONFIGURATION: Large

  # Only required if TYPE is AAS
  APPSERVICEPLAN_CONFIGURATION: P1V2
  DEPLOY_DDBPROXY: true

jobs:
  deploy-azure-resources:
    runs-on: ubuntu-latest
    name: Create Azure Resources
    env:
      BASE_RESOURCE_NAME: ${{ secrets.BASE_RESOURCE_NAME }}
      RESOURCE_GROUP_NAME: ${{ secrets.RESOURCE_GROUP_NAME }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure Container Instance
        if: ${{ env.TYPE == 'ACI' }}
        uses: azure/CLI@v1
        with:
          azcliversion: 2.31.0
          inlineScript: |
            az account show
            date=$(date +"%Y%m%d%H%M")
            az deployment sub create \
              --name "foundryvtt-aci-${date}" \
              --location $LOCATION \
              --template-file bicep/aci.bicep \
              --parameters location="$LOCATION" \
                           baseResourceName="$BASE_RESOURCE_NAME" \
                           resourceGroupName="$RESOURCE_GROUP_NAME" \
                           foundryUsername="$FOUNDRY_USERNAME" \
                           foundryPassword="$FOUNDRY_PASSWORD" \
                           foundryAdminKey="$FOUNDRY_ADMIN_KEY" \
                           storageConfiguration="$STORAGE_CONFIGURATION" \
                           containerConfiguration="$CONTAINER_CONFIGURATION"

      - name: Deploy to Azure App Service
        if: ${{ env.TYPE == 'AAS' }}
        uses: azure/CLI@v1
        with:
          azcliversion: 2.31.0
          inlineScript: |
            az account show
            date=$(date +"%Y%m%d%H%M")
            az deployment sub create \
              --name "foundryvtt-aas-${date}" \
              --location $LOCATION \
              --template-file bicep/appService.bicep \
              --parameters location="$LOCATION" \
                           baseResourceName="$BASE_RESOURCE_NAME" \
                           resourceGroupName="$RESOURCE_GROUP_NAME" \
                           foundryUsername="$FOUNDRY_USERNAME" \
                           foundryPassword="$FOUNDRY_PASSWORD" \
                           foundryAdminKey="$FOUNDRY_ADMIN_KEY" \
                           storageConfiguration="$STORAGE_CONFIGURATION" \
                           appServicePlanConfiguration="$APPSERVICEPLAN_CONFIGURATION" \
                           deployDdbProxy="$DEPLOY_DDBPROXY"

